<section>
    <div class="bg-white border-bottom border-light-subtle">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center py-2">
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <a th:href="@{/admin/account-view}" class="btn btn-dark fw-bold" style="font-size: 0.83rem;"><i
                            class="fa-solid fa-users"></i> User Management</a>
                    <a th:href="@{/admin/product-view}" class="btn btn-outline-dark fw-bold border-0"
                       style="font-size: 0.83rem;"><i class="fa-brands fa-product-hunt"></i> Product Management</a>
                    <a th:href="@{/admin/category-view}" class="btn btn-outline-dark fw-bold border-0"
                       style="font-size: 0.83rem;"><i class="fa-solid fa-list"></i> Category Management</a>
                    <a th:href="@{/admin/discount-view}" class="btn btn-outline-dark fw-bold border-0"
                       style="font-size: 0.83rem;"><i class="fa-solid fa-tags"></i> Discount Management</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-3">
        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    <a th:href="@{/admin/account-view}"
                       class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i
                            class="fa-solid me-2 fa-user"></i> Account Detail</a>
                    <a th:href="@{/admin/account-list}"
                       class="py-3 px-4 text-secondary list-group-item list-group-item-action active"><i
                            class="fa-solid fa-users-gear"></i> List Account</a>
                </div>
            </div>
            <div class="col-9 bg-white rounded border">
                <div class="px-3 py-4">
                    <h4>Accounts List</h4>
                    <hr>
                    <div class="d-flex align-items-center justify-content-between">

                            <div class="d-flex align-items-center gap-2">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="searchInput" placeholder="Search">
                                    <label for="searchInput">Search</label>
                                </div>
                                <div>
                                    <div class="form-floating">
                                        <select class="form-select pe-5" id="roleSelect" aria-label="Floating label select example">
                                            <option value="">All Roles</option>
                                            <option value="ROLE_EMPLOYEE">Employee</option>
                                            <option value="ROLE_MANAGER">Manager</option>
                                            <option value="ROLE_ADMIN">Admin</option>
                                        </select>
                                        <label >Role</label>
                                    </div>
                                </div>
                                <button class="btn btn-outline-secondary p-3" id="filterButton" type="button"><i
                                        class="fa-solid fa-filter"></i></button>
                            </div>

                        <div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary p-3" data-bs-toggle="modal"
                                    data-bs-target="#addUser">
                                <i class="fa-solid fa-circle-plus"></i> Add User
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="addUser" data-bs-backdrop="static" data-bs-keyboard="false"
                                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add User</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>

                                            <div class="modal-body">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="inputUsername"
                                                           placeholder="Username">
                                                    <label for="inputUsername">Username</label>
                                                </div>

                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="inputEmail"
                                                           placeholder="Email">
                                                    <label for="inputEmail">Email</label>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-danger"
                                                        data-bs-dismiss="modal">Close
                                                </button>
                                                <button type="button" class="btn btn-primary" id="submitAddUser">Add
                                                    User
                                                </button>
                                            </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="container">
                        <table class="table align-middle">
                            <thead class="table-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Joining Date</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody id="listUserContainer">

                            </tbody>
                        </table>
                        <div class="d-flex align-items-center justify-content-between">
                            <nav aria-label="...">
                                <ul class="pagination" id="paginationContainer">
                                    <li class="page-item">
                                        <span class="page-link"><span aria-hidden="true">&laquo;</span></span>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active" aria-current="page">
                                        <span class="page-link">2</span>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/js/admin/js-admin-user.js}"></script>
