<header>
    <div style="background-color: #2679f2;">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <div class="d-flex align-items-center">
                    <a class="navbar-brand text-white fw-bold" th:href="@{/}">
                        <img src="https://cdn.divineshop.vn/static/b1402e84a947ed36cebe9799e47f61c2.svg" alt="" style="width: 49px; height: 49px;">
                        Divine Shop
                    </a>
                    <div class="vr bg-white opacity-100" style="width: 2px;"></div>
                    <p class="m-0 ms-3 text-white">Administrator</p>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </div>

</header>