<section>
  <div class="container my-4">
    <div class="container rounded bg-white">
      <div class="py-4 px-3">
        <h5 class="fw-bold">Nạp tiền vào tài khoản</h5>
        <p class="mb-4" style="font-size: 0.85rem;">Bạn có thể chọn các phương thức thanh toán khả dụng bên dưới</p>

        <div>
          <div class="accordion accordion-flush border rounded" id="accordionFlushExample">
            <div class="accordion-item rounded-top">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  <div class="d-flex align-items-center gap-3">
                    <img src="https://cdn.divineshop.vn/image/catalog/Logo-bank/Atm.png?hash=1604888771" class="" alt="Nạp số dư  tự động bằng thẻ ngân hàng " width="42" height="42">
                    <div class="">
                      <h6 class="fw-bold">Nạp số dư  tự động bằng thẻ ngân hàng </h6>
                      <p class="m-0" style="font-size: 0.85rem;">Phí 0.9% + 900đ</p>
                    </div>
                  </div>
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <div class="row p-3 ps-5">
                    <div class="col-4 ps-0"><input id="tiennap" type="text" class="form-control px-3 py-2" placeholder="Nhập số tiền"></div>
                    <div class="col ps-0"><button id="myButton" type="button" class="btn btn-primary">Nạp Dcoin</button></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button disabled class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  <div class="d-flex align-items-center gap-3">
                    <img src="https://cdn.divineshop.vn/image/catalog/icon/Image%202022-06-24-1656046250-88939.png?hash=1656046385" class="" alt="Nạp số dư  tự động bằng thẻ ngân hàng " width="42" height="42">
                    <div class="">
                      <h6 class="fw-bold">Thanh toán VNPAY-QR</h6>
                      <p class="m-0" style="font-size: 0.85rem;">Quét mã QR PAY trên ứng dụng Mobile Banking</p>
                    </div>
                  </div>
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <div class="p-3 ps-5">
                    <p style="font-size: 0.9rem;">Mở App ngân hàng trên điện thoại, chọn phần QR Pay và nhập số tiền bạn muốn nạp vào khung bên dưới.</p>
                    <div class="row m-0">
                      <div class="col-4 ps-0"><input type="text" class="form-control px-3 py-2" placeholder="Nhập số tiền"></div>
                      <div class="col ps-0"><button type="button" class="btn btn-primary">Nạp Dcoin</button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item rounded-bottom">
              <h2 class="accordion-header">
                <button disabled class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  <div class="d-flex align-items-center gap-3">
                    <img src="https://cdn.divineshop.vn/image/catalog/Logo-bank/Momo.png?hash=1604888771" class="" alt="Nạp số dư  tự động bằng thẻ ngân hàng " width="42" height="42">
                    <div class="">
                      <h6 class="fw-bold">Nạp số dư trực tiếp bằng Momo Payment</h6>
                      <p class="m-0" style="font-size: 0.85rem;">Nạp Dcoin tự động liên kết với Momo, hoàn thành tức thì. Phí 5%</p>
                    </div>
                  </div>
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <div class="p-3 ps-5">
                    <p style="font-size: 0.9rem;">Mở App ngân hàng trên điện thoại, chọn phần QR Pay và nhập số tiền bạn muốn nạp vào khung bên dưới.</p>
                    <div class="row m-0">
                      <div class="col-4 ps-0"><input type="text" class="form-control px-3 py-2" placeholder="Nhập số tiền"></div>
                      <div class="col ps-0"><button type="button" class="btn btn-primary">Nạp Dcoin</button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function() {
    $('#myButton').click(function() {
      var tienThanhToan =  $('#tiennap').val();
      if(parseFloat(tienThanhToan) < 20000){
        Swal.fire({
          title: "Thông báo từ hệ thống!",
          text: "Số tiền tối thiếu là 20 nghìn",
          icon: "question"
        });
        return;
      }else {

        axios.get('/api/v1/payment/vn-pay?amount='+tienThanhToan+'&bankCode=NCB') // lưu vào order
                .then(response => {
                  let timerInterval;
                  Swal.fire({
                    title: "Thông báo từ hệ thống!",
                    html: "Vui lòng đợi <b></b> s.",
                    timer: 2000,
                    timerProgressBar: true,
                    didOpen: () => {
                      Swal.showLoading();
                      const timer = Swal.getPopup().querySelector("b");
                      timerInterval = setInterval(() => {
                        timer.textContent = `${Swal.getTimerLeft()}`;
                      }, 100);
                    },
                    willClose: () => {
                      clearInterval(timerInterval);
                    }
                  }).then((result) => {
                    /* Read more about handling dismissals below */
                    if (result.dismiss === Swal.DismissReason.timer) {
                      window.location.href = response.data.data.paymentUrl;
                    }
                  });
                })
                .catch(error => {
                  // Xử lý lỗi nếu có
                  console.error(error);
                });
      }
    })
  })
</script>