<section th:fragment="allProducts">
  <div class="container">
    <h2 class="my-3">Tìm kiếm sản phẩm</h2>
    <div class="row">
      <div class="col-3">
        <select class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-5">
        <div class="row">
          <div class="col-2 p-0 align-self-center fw-bold text-end" style="font-size: 0.8rem;">Mức giá</div>
          <div class="col-5">
            <input type="text" class="form-control" placeholder="Mức giá từ">
          </div>
          <div class="col-5">
            <input type="text" class="form-control" placeholder="Mức giá đến">
          </div>
        </div>
      </div>
      <div class="col-3">
        <select class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-1"><button type="button" class="btn btn-primary w-100"><i class="fa-solid fa-filter"></i> Lọc</button></div>
    </div>
  </div>
  <div class="container">
    <div class="mt-5">
      <div class="row gy-3">
        <div class="col-3">
          <div class="card border-0 bg-transparent">
            <img src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Netflix/Divine-Shop-NETFLIX-1-thang-23298258-63925.jpg?hash=1710321229" class="card-img-top rounded" alt="...">
            <div class="card-body px-0">
              <h5 class="card-title" style="font-size: 0.9rem;">Tài Khoản Netflix Premium 1 tháng - Xem phim chất lượng 4k và Full HD</h5>
              <div class="d-flex gap-2 align-items-center">
                <p style="font-size: 0.9rem;" class="m-0 fw-bold">99.000đ</p>
                <p style="font-size: 0.9rem;" class="m-0 text-decoration-line-through text-secondary">260.000đ</p>
                <p style="font-size: 0.7rem;" class="m-0 text-bg-danger fw-bold rounded p-1">-62%</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card border-0 bg-transparent">
            <img src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Spotify/Divine-Shop-Goi-Gia-Han-Spotify-1-Nam-40567.jpg?hash=1658742748" class="card-img-top rounded" alt="...">
            <div class="card-body px-0">
              <h5 class="card-title" style="font-size: 0.9rem;">Tài Khoản Netflix Premium 1 tháng - Xem phim chất lượng 4k và Full HD</h5>
              <div class="d-flex gap-2 align-items-center">
                <p style="font-size: 0.9rem;" class="m-0 fw-bold">99.000đ</p>
                <p style="font-size: 0.9rem;" class="m-0 text-decoration-line-through text-secondary">260.000đ</p>
                <p style="font-size: 0.7rem;" class="m-0 text-bg-danger fw-bold rounded p-1">-62%</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card border-0 bg-transparent">
            <img src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Zoom/Divine-Shop-Nang-cap-Zoom-Pro-1-thang-80331258-21203.jpg?hash=1710321273" class="card-img-top rounded" alt="...">
            <div class="card-body px-0">
              <h5 class="card-title" style="font-size: 0.9rem;">Tài Khoản Netflix Premium 1 tháng - Xem phim chất lượng 4k và Full HD</h5>
              <div class="d-flex gap-2 align-items-center">
                <p style="font-size: 0.9rem;" class="m-0 fw-bold">99.000đ</p>
                <p style="font-size: 0.9rem;" class="m-0 text-decoration-line-through text-secondary">260.000đ</p>
                <p style="font-size: 0.7rem;" class="m-0 text-bg-danger fw-bold rounded p-1">-62%</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card border-0 bg-transparent">
            <img src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Windows/Divine-shop-windows-10-pro-55555.jpg?hash=1658743921" class="card-img-top rounded" alt="...">
            <div class="card-body px-0">
              <h5 class="card-title" style="font-size: 0.9rem;">Tài Khoản Netflix Premium 1 tháng - Xem phim chất lượng 4k và Full HD</h5>
              <div class="d-flex gap-2 align-items-center">
                <p style="font-size: 0.9rem;" class="m-0 fw-bold">99.000đ</p>
                <p style="font-size: 0.9rem;" class="m-0 text-decoration-line-through text-secondary">260.000đ</p>
                <p style="font-size: 0.7rem;" class="m-0 text-bg-danger fw-bold rounded p-1">-62%</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card border-0 bg-transparent">
            <img src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Youtube/Divine-Shop-YOUTUBE-NO-ADS-1-NAM-53447.jpg?hash=1658743452" class="card-img-top rounded" alt="...">
            <div class="card-body px-0">
              <h5 class="card-title" style="font-size: 0.9rem;">Tài Khoản Netflix Premium 1 tháng - Xem phim chất lượng 4k và Full HD</h5>
              <div class="d-flex gap-2 align-items-center">
                <p style="font-size: 0.9rem;" class="m-0 fw-bold">99.000đ</p>
                <p style="font-size: 0.9rem;" class="m-0 text-decoration-line-through text-secondary">260.000đ</p>
                <p style="font-size: 0.7rem;" class="m-0 text-bg-danger fw-bold rounded p-1">-62%</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card border-0 bg-transparent">
            <img src="https://cdn.divineshop.vn/image/catalog/Discord%20Nitro%203%20thang-71170.jpg?hash=1672370038" class="card-img-top rounded" alt="...">
            <div class="card-body px-0">
              <h5 class="card-title" style="font-size: 0.9rem;">Tài Khoản Netflix Premium 1 tháng - Xem phim chất lượng 4k và Full HD</h5>
              <div class="d-flex gap-2 align-items-center">
                <p style="font-size: 0.9rem;" class="m-0 fw-bold">99.000đ</p>
                <p style="font-size: 0.9rem;" class="m-0 text-decoration-line-through text-secondary">260.000đ</p>
                <p style="font-size: 0.7rem;" class="m-0 text-bg-danger fw-bold rounded p-1">-62%</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card border-0 bg-transparent">
            <img src="https://cdn.divineshop.vn/image/catalog/OpenAI%20-%20ChatGPT-37620.jpg?hash=1672200973" class="card-img-top rounded" alt="...">
            <div class="card-body px-0">
              <h5 class="card-title" style="font-size: 0.9rem;">Tài Khoản Netflix Premium 1 tháng - Xem phim chất lượng 4k và Full HD</h5>
              <div class="d-flex gap-2 align-items-center">
                <p style="font-size: 0.9rem;" class="m-0 fw-bold">99.000đ</p>
                <p style="font-size: 0.9rem;" class="m-0 text-decoration-line-through text-secondary">260.000đ</p>
                <p style="font-size: 0.7rem;" class="m-0 text-bg-danger fw-bold rounded p-1">-62%</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card border-0 bg-transparent">
            <img src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Kh%C3%A1c/Divine-Shop-Grammarly-Premium-1-Nam-35103.jpg?hash=1658742859" class="card-img-top rounded" alt="...">
            <div class="card-body px-0">
              <h5 class="card-title" style="font-size: 0.9rem;">Tài Khoản Netflix Premium 1 tháng - Xem phim chất lượng 4k và Full HD</h5>
              <div class="d-flex gap-2 align-items-center">
                <p style="font-size: 0.9rem;" class="m-0 fw-bold">99.000đ</p>
                <p style="font-size: 0.9rem;" class="m-0 text-decoration-line-through text-secondary">260.000đ</p>
                <p style="font-size: 0.7rem;" class="m-0 text-bg-danger fw-bold rounded p-1">-62%</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <hr>
    </div>
  </div>
</section>