<section th:fragment="detailProduct">
    <div class="bg-white py-4 mb-4">
        <div class="container">
            <div class="row" id="productHtml">
            </div>
        </div>
    </div>
    <div class="container mb-4">
        <div class="row mt-5">
            <div class="col-3">
                <h4>Chi tiết sản phẩm</h4>
            </div>
            <div class="col-6">
                <h6 class="fw-bold">Giới thiệu</h6>
                <p>Spotify là ứng dụng nghe nhạc bản quyền nổi tiếng trên toàn thế giới. Spotify có hàng triệu bản nhạc từ tất cả mọi nơi trên thế giới bao gồm cả các bài hát ở Việt Nam. </p>
                <hr>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <h4>Chính sách bảo hành</h4>
            </div>
            <div class="col-6">
                <h6 class="fw-bold">Chính sách bảo hành</h6>
                <p>Đổi sản phẩm mới tương đương hoặc hoàn tiền theo thời gian chưa sử dụng (VD: gói 12 tháng nếu sử dụng được 3 tháng phát sinh lỗi thì sẽ được hoàn lại 75% giá trị đơn hàng)</p>
                <hr>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <h4>Câu hỏi thường gặp</h4>
            </div>
            <div class="col-6">
                <h6 class="fw-bold">1. Tôi có thể ghi đĩa CD trên Spotify không?</h6>
                <p>Spotify là dịch vụ chỉ stream nhạc. Hoạt động cấp phép của Spotify thể hiện rằng không thể xuất nội dung của Spotify ra bên ngoài ứng dụng. </p>
            </div>
        </div>
        <div class="">
            <div class="mt-5">
                <h5 class="mb-3 fw-bold">Sản phẩm liên quan</h5>
                <div class="row gy-3">
                    <div class="col-3">
                        <div class="card border-0 bg-transparent">
                            <img src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Netflix/Divine-Shop-NETFLIX-1-thang-23298258-63925.jpg?hash=1710321229" class="card-img-top rounded" alt="...">
                            <div class="card-body px-0">
                                <h5 class="card-title" style="font-size: 0.9rem;">Tài Khoản Netflix Premium 1 tháng - Xem phim chất lượng 4k và Full HD</h5>
                                <div class="d-flex gap-2 align-items-center">
                                    <p style="font-size: 0.9rem;" class="m-0 fw-bold">99.000đ</p>
                                    <p style="font-size: 0.9rem;" class="m-0 text-decoration-line-through text-secondary">260.000đ</p>
                                    <p style="font-size: 0.7rem;" class="m-0 text-bg-danger fw-bold rounded p-1">-62%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card border-0 bg-transparent">
                            <img src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Spotify/Divine-Shop-Goi-Gia-Han-Spotify-1-Nam-40567.jpg?hash=1658742748" class="card-img-top rounded" alt="...">
                            <div class="card-body px-0">
                                <h5 class="card-title" style="font-size: 0.9rem;">Tài Khoản Netflix Premium 1 tháng - Xem phim chất lượng 4k và Full HD</h5>
                                <div class="d-flex gap-2 align-items-center">
                                    <p style="font-size: 0.9rem;" class="m-0 fw-bold">99.000đ</p>
                                    <p style="font-size: 0.9rem;" class="m-0 text-decoration-line-through text-secondary">260.000đ</p>
                                    <p style="font-size: 0.7rem;" class="m-0 text-bg-danger fw-bold rounded p-1">-62%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card border-0 bg-transparent">
                            <img src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Zoom/Divine-Shop-Nang-cap-Zoom-Pro-1-thang-80331258-21203.jpg?hash=1710321273" class="card-img-top rounded" alt="...">
                            <div class="card-body px-0">
                                <h5 class="card-title" style="font-size: 0.9rem;">Tài Khoản Netflix Premium 1 tháng - Xem phim chất lượng 4k và Full HD</h5>
                                <div class="d-flex gap-2 align-items-center">
                                    <p style="font-size: 0.9rem;" class="m-0 fw-bold">99.000đ</p>
                                    <p style="font-size: 0.9rem;" class="m-0 text-decoration-line-through text-secondary">260.000đ</p>
                                    <p style="font-size: 0.7rem;" class="m-0 text-bg-danger fw-bold rounded p-1">-62%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card border-0 bg-transparent">
                            <img src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Windows/Divine-shop-windows-10-pro-55555.jpg?hash=1658743921" class="card-img-top rounded" alt="...">
                            <div class="card-body px-0">
                                <h5 class="card-title" style="font-size: 0.9rem;">Tài Khoản Netflix Premium 1 tháng - Xem phim chất lượng 4k và Full HD</h5>
                                <div class="d-flex gap-2 align-items-center">
                                    <p style="font-size: 0.9rem;" class="m-0 fw-bold">99.000đ</p>
                                    <p style="font-size: 0.9rem;" class="m-0 text-decoration-line-through text-secondary">260.000đ</p>
                                    <p style="font-size: 0.7rem;" class="m-0 text-bg-danger fw-bold rounded p-1">-62%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card border-0 bg-transparent">
                            <img src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Youtube/Divine-Shop-YOUTUBE-NO-ADS-1-NAM-53447.jpg?hash=1658743452" class="card-img-top rounded" alt="...">
                            <div class="card-body px-0">
                                <h5 class="card-title" style="font-size: 0.9rem;">Tài Khoản Netflix Premium 1 tháng - Xem phim chất lượng 4k và Full HD</h5>
                                <div class="d-flex gap-2 align-items-center">
                                    <p style="font-size: 0.9rem;" class="m-0 fw-bold">99.000đ</p>
                                    <p style="font-size: 0.9rem;" class="m-0 text-decoration-line-through text-secondary">260.000đ</p>
                                    <p style="font-size: 0.7rem;" class="m-0 text-bg-danger fw-bold rounded p-1">-62%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card border-0 bg-transparent">
                            <img src="https://cdn.divineshop.vn/image/catalog/Discord%20Nitro%203%20thang-71170.jpg?hash=1672370038" class="card-img-top rounded" alt="...">
                            <div class="card-body px-0">
                                <h5 class="card-title" style="font-size: 0.9rem;">Tài Khoản Netflix Premium 1 tháng - Xem phim chất lượng 4k và Full HD</h5>
                                <div class="d-flex gap-2 align-items-center">
                                    <p style="font-size: 0.9rem;" class="m-0 fw-bold">99.000đ</p>
                                    <p style="font-size: 0.9rem;" class="m-0 text-decoration-line-through text-secondary">260.000đ</p>
                                    <p style="font-size: 0.7rem;" class="m-0 text-bg-danger fw-bold rounded p-1">-62%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card border-0 bg-transparent">
                            <img src="https://cdn.divineshop.vn/image/catalog/OpenAI%20-%20ChatGPT-37620.jpg?hash=1672200973" class="card-img-top rounded" alt="...">
                            <div class="card-body px-0">
                                <h5 class="card-title" style="font-size: 0.9rem;">Tài Khoản Netflix Premium 1 tháng - Xem phim chất lượng 4k và Full HD</h5>
                                <div class="d-flex gap-2 align-items-center">
                                    <p style="font-size: 0.9rem;" class="m-0 fw-bold">99.000đ</p>
                                    <p style="font-size: 0.9rem;" class="m-0 text-decoration-line-through text-secondary">260.000đ</p>
                                    <p style="font-size: 0.7rem;" class="m-0 text-bg-danger fw-bold rounded p-1">-62%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card border-0 bg-transparent">
                            <img src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Kh%C3%A1c/Divine-Shop-Grammarly-Premium-1-Nam-35103.jpg?hash=1658742859" class="card-img-top rounded" alt="...">
                            <div class="card-body px-0">
                                <h5 class="card-title" style="font-size: 0.9rem;">Tài Khoản Netflix Premium 1 tháng - Xem phim chất lượng 4k và Full HD</h5>
                                <div class="d-flex gap-2 align-items-center">
                                    <p style="font-size: 0.9rem;" class="m-0 fw-bold">99.000đ</p>
                                    <p style="font-size: 0.9rem;" class="m-0 text-decoration-line-through text-secondary">260.000đ</p>
                                    <p style="font-size: 0.7rem;" class="m-0 text-bg-danger fw-bold rounded p-1">-62%</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-10">
                <h5>Bình luận</h5>
                <p>Thời gian phản hồi trung bình: 5 phút!</p>
                <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
                <div class="d-flex justify-content-end"><button type="button" class="btn btn-primary"><i class="fa-solid fa-paper-plane"></i> Gửi bình luận</button></div>
                <div class="row">
                    <div class="col-2">
                        <img class="img-fluid rounded-circle" src="https://cdn.divineshop.vn/image/avatar/452043.jpg?hash=1711526851" alt="">
                    </div>
                    <div class="col-10">
                        <h6>Chương Võ Hoàng</h6>
                        <p>Bình luận vào 2024-03-27 15:10:55</p>
                        <p>tài khoản đã từng mua gói 1 năm bây giờ tiếp tục mua thêm có được ko vậy shop?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:src="@{/js/user/product_user.js}"></script>
<script th:src="@{/js/user/Cart_user.js.js}"></script>