<section>
  <div class="container my-4">
    <div class="container px-3 mb-3">
      <div class="d-flex justify-content-between align-items-center text-secondary">
        <div class="text-primary"><i class="fa-solid fa-circle mx-2"></i> Giỏ hàng</div>
        <hr style="width: 35%;">
        <div><i class="fa-solid fa-circle mx-2"></i> Xác nhận</div>
        <hr style="width: 35%;">
        <div><i class="fa-solid fa-circle mx-2"></i> Thanh toán</div>
      </div>
    </div>
    <div class="container rounded bg-white">
      <div class="row p-5">
        <div class="col-9 text-center">
          <h4>Giỏ hàng trống!</h4>
          <p style="font-size: 0.9rem;" class="my-3">Thêm sản phẩm vào giỏ và quay lại trang này để thanh toán nha bạn <3</p>
          <img src="https://cdn.divineshop.vn/static/4e0db8ffb1e9cac7c7bc91d497753a2c.svg" alt="">
        </div>
        <div class="col-3">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h6 class="m-0 fw-semibold" style="font-size: 0.95rem;">Bạn có mã giới thiệu?</h6>
            <i class="fa-solid fa-user"  style="font-size: 1.3rem;"></i>
          </div>
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h6 class="m-0 fw-semibold" style="font-size: 0.95rem;">Bạn có mã ưu đãi?</h6>
            <i class="fa-solid fa-percent" style="font-size: 1.3rem;"></i>
          </div>
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h6 class="m-0 fw-semibold" style="font-size: 0.95rem;">Bạn muốn tặng cho bạn bè?</h6>
            <i class="fa-solid fa-gift" style="font-size: 1.3rem;"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>