<section>
  <div class="container my-4">
    <div class="container px-3 mb-3">
      <div class="d-flex justify-content-between align-items-center text-secondary">
        <div class="text-primary"><i class="fa-solid fa-circle mx-2"></i> Giỏ hàng</div>
        <hr style="width: 35%;"  class="text-primary">
        <div  class="text-primary"><i class="fa-solid fa-circle mx-2"></i> Xác nhận</div>
        <hr class="text-primary" style="width: 35%;">
        <div class="text-primary"><i class="fa-solid fa-circle mx-2"></i> Thanh toán</div>
      </div>
    </div>
    <div class="container rounded bg-white">
      <div class="py-4 px-3" style="min-height: 250px">
      </div>
    </div>
  </div>
</section>
<script src="/js/user/loadSoluongCart.js"></script>