<section>
  <div class="container my-4">
    <div class="container px-3 mb-3">
      <div class="d-flex justify-content-between align-items-center text-secondary">
        <div class="text-primary"><i class="fa-solid fa-circle mx-2"></i> Giỏ hàng</div>
        <hr style="width: 35%;"  class="text-primary">
        <div  class="text-primary"><i class="fa-solid fa-circle mx-2"></i> Xác nhận</div>
        <hr class="text-primary" style="width: 35%;">
        <div class="text-primary"><i class="fa-solid fa-circle mx-2"></i> Thanh toán</div>
      </div>
    </div>
    <div class="container rounded bg-white">
      <div class="py-4 px-3">
        <div class="d-flex align-items-center gap-3">
          <img src="https://cdn.divineshop.vn/image/catalog/Logo-bank/Momo.png?hash=1604888771" alt="" class="" height="49px" width="49px">
          <div>
            <h6 class="fw-bold">Nạp số dư trực tiếp bằng Momo Payment</h6>
            <p class="m-0" style="font-size: 0.85rem;">Nạp Dcoin tự động liên kết với Momo, hoàn thành tức thì. Phí 5%</p>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center justify-content-evenly">
          <p  style="font-size: 0.95rem;" class="fw-semibold">Số tiền: 149.000đ</p>
          <p  style="font-size: 0.95rem;" class="fw-semibold">Phí giao dịch: 7.450đ (5%)</p>
          <p  style="font-size: 0.95rem;" class="fw-semibold">Tổng tiền: 156.450đ</p>
        </div>
        <hr>
        <div class="d-flex align-items-center justify-content-center gap-4">
          <img src="https://api.qrserver.com/v1/create-qr-code/?size=250x250&data=momo%3A%2F%2Fapp%3Faction%3DpayWithApp%26isScanQR%3Dtrue%26serviceType%3Dqr%26sid%3DTU9NT1hGUE4yMDE5MDUzMHxNTTE3NTMyMTI%26v%3D3.0" alt="" height="250" width="250">
          <div>
            <p style="font-size: 0.9rem;" class="fw-bold">Thực hiện theo hướng dẫn sau để thanh toán:</p>
            <p class="mb-2" style="font-size: 0.85rem;"><b>Bước 1:</b> Mở ứng dụng <b>MoMo</b> để thanh toán</p>
            <p class="mb-2" style="font-size: 0.85rem;"><b>Bước 2:</b> Chọn <b>"Thanh Toán"</b> và quét mã QR tại hướng dẫn này</p>
            <p class="mb-2" style="font-size: 0.85rem;"><b>Bước 3:</b> Hoàn thành các bước thanh toán theo hướng dẫn và đợi Divine Shop xử lý trong giây lát</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>