<section th:fragment="userInfo" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container my-4">
        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    <a th:href="@{/user-info}" class="py-3 px-4 text-secondary list-group-item list-group-item-action active"><i class="fa-solid me-2 fa-user"></i> Tài khoản</a>
                    <a th:href="@{/order-history}" type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-cart-shopping"></i> Lịch sử đơn hàng</a>
                    <a th:href="@{/transaction}" type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-credit-card"></i> Lịch sử giao dịch</a>
                    <a th:href="@{/security}" aria-disabled="true" type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action disabled"><i class="fa-solid me-2 fa-user-lock"></i> Mật khẩu và bảo mật</a>
                    <a th:href="@{/user-info}" aria-disabled="true" type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action disabled"><i class="fa-solid me-2 fa-comment"></i> Bình luận của tôi</a>
                    <a th:href="@{/favorite}" type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-heart"></i> Sản phẩm yêu thích</a>
                    <a th:href="@{/user-info}" aria-disabled="true" type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action disabled"><i class="fa-solid me-2 fa-link"></i> Giới thiệu bạn bè</a>
                    <div sec:authorize="hasRole('ADMIN')">
                        <!--  add a link to point to / systems ... this iss for the admin-->
                        <a th:href="@{/admin/account-list}" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-briefcase"></i> Quản lý</a>
                    </div>
                </div>
            </div>
            <div class="col-9 bg-white rounded border" id="userInfoContainer">

            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/js/user/UserInfo.js}"></script>