<section>
    <div class="bg-white border-bottom border-light-subtle">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center py-2">
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <a th:href="@{/admin/account-list}" class="btn btn-outline-dark fw-bold border-0" style="font-size: 0.83rem;"><i class="fa-solid fa-users"></i> User Management</a>
                    <a th:href="@{/admin/product-list}" class="btn btn-dark fw-bold " style="font-size: 0.83rem;"><i class="fa-brands fa-product-hunt"></i> Product Management</a>
                    <a th:href="@{/admin/category-list}" class="btn btn-outline-dark fw-bold border-0" style="font-size: 0.83rem;"><i class="fa-solid fa-list"></i> Category Management</a>
                    <a th:href="@{/admin/discount-list}" class="btn btn-outline-dark fw-bold border-0" style="font-size: 0.83rem;"><i class="fa-solid fa-tags"></i> Discount Management</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3" style="min-height: 40rem;">
        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    <a class="py-3 px-4 text-secondary list-group-item list-group-item-action active"><i class="fa-solid fa-wrench"></i> Product Detail</a>
                    <a th:href="@{/admin/product-list}" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid fa-store"></i> List Product</a>
                </div>
            </div>
            <div class="col-9 bg-white rounded border">
                <div class="px-3 py-4">
                    <h4 th:attr="data-detail=${detail}" id="productDetailSlug">Overview</h4>
                    <div id="detailProduct"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:src="@{/js/admin/product/productlist.js}"></script>