<section>
    <div class="bg-white border-bottom border-light-subtle">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center py-2">
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <a th:href="@{/admin/account-list}" class="btn btn-outline-dark fw-bold border-0" style="font-size: 0.83rem;"><i class="fa-solid fa-users"></i> User Management</a>
                    <a th:href="@{/admin/product-view}" class="btn btn-dark fw-bold " style="font-size: 0.83rem;"><i class="fa-brands fa-product-hunt"></i> Product Management</a>
                    <a th:href="@{/admin/category-view/1}" class="btn btn-outline-dark fw-bold border-0" style="font-size: 0.83rem;"><i class="fa-solid fa-list"></i> Category Management</a>
                    <a th:href="@{/admin/discount-view}" class="btn btn-outline-dark fw-bold border-0" style="font-size: 0.83rem;"><i class="fa-solid fa-tags"></i> Discount Management</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    <a th:href="@{/admin/product-view}" class="py-3 px-4 text-secondary list-group-item list-group-item-action active"><i class="fa-solid fa-wrench"></i> Product Detail</a>
                    <a th:href="@{/admin/product-list}" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid fa-store"></i> List Product</a>
                </div>
            </div>
            <div class="col-9 bg-white rounded border">
                <div class="px-3 py-4">
                    <h4>Overview</h4>
                    <div class="row mt-3">
                        <div class="col-3">
                            <p style="font-size: 0.85rem;" class="fw-light mb-2">Product ID</p>
                            <p style="font-size: 0.85rem;"  class="fw-bold">1234</p>
                        </div>
                        <div class="col-3">
                            <p style="font-size: 0.85rem;" class="fw-light mb-2">Product Title</p>
                            <p style="font-size: 0.85rem;"  class="fw-bold">Elden Ring (CD Key Steam)</p>
                        </div>
                        <div class="col-3">
                            <p style="font-size: 0.85rem;" class="fw-light mb-2">Quantity</p>
                            <p style="font-size: 0.85rem;"  class="fw-bold">10</p>
                        </div>
                        <div class="col-3">
                            <p style="font-size: 0.85rem;" class="fw-light mb-2">Price</p>
                            <p style="font-size: 0.85rem;"  class="fw-bold">790.000đ</p>
                        </div>
                        <div class="col-3">
                            <p style="font-size: 0.85rem;" class="fw-light mb-2">Discounts</p>
                            <p style="font-size: 0.85rem;"  class="fw-bold">1%</p>
                        </div>
                        <div class="col-3">
                            <p style="font-size: 0.85rem;" class="fw-light mb-2">Category</p>
                            <p style="font-size: 0.85rem;"  class="fw-bold">Steam</p>
                        </div>
                        <div class="col-3">
                            <p style="font-size: 0.85rem;" class="fw-light mb-2">Status</p>
                            <p style="font-size: 0.85rem;"  class="fw-bold text-success">Active</p>
                        </div>
                        <div class="col-3">
                            <p style="font-size: 0.85rem;" class="fw-light mb-2">Genres</p>
                            <p style="font-size: 0.85rem;"  class="fw-bold">game, rpg</p>
                        </div>
                    </div>
                    <hr>
                    <form action="">
                        <div class="row">
                            <div class="col-6">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Kh%C3%A1c/Divine-Shop-Elden-Ring-82335.jpg?hash=1658742026" class="rounded" width="274px" height="154px" alt="">
                                    <button type="button" class="btn btn-outline-primary">Change Image</button>
                                </div>
                            </div>
                            <div class="col-1"><div class="vr h-100"></div></div>
                            <div class="col-5">
                                <div class="d-flex align-items-center h-100">
                                    <div>
                                        <p class="fw-bold" style="font-size: 0.87rem;">Description</p>
                                        <p class="m-0 overflow-hidden" style="font-size: 0.87rem;">Elden Ring là bom tấn nhập vai hành động sắp ra mắt được phát triển bởi FromSoftware và do Bandai Namco Entertainment phát hành. Trò chơi là sự hợp tác giữa đạo diễn Hidetaka Miyazaki của Dark Souls và tiểu thuyết gia George RR Martin - “cha đẻ” của Trò chơi vương quyền</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control"  placeholder="Product Title">
                                    <label>Product Title</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control"  placeholder="Quantity">
                                    <label>Quantity</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control"  placeholder="Price">
                                    <label>Price</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control"  placeholder="Discounts">
                                    <label>Discounts</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" placeholder="Description" style="height: 100px"></textarea>
                                    <label>Description</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <select class="form-select" aria-label="Floating label select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <label>Status</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <select class="form-select" aria-label="Floating label select example">
                                        <option selected>Steam</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <label>Category</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="exampleDataList" class="form-label ms-1">Genres</label>
                                    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                                    <datalist id="datalistOptions">
                                        <option value="San Francisco">
                                        <option value="New York">
                                        <option value="Seattle">
                                        <option value="Los Angeles">
                                        <option value="Chicago">
                                    </datalist>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary" type="submit">Save change</button>
                                <button class="btn btn-outline-danger" type="">Delete</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>