<section>
    <div class="bg-white border-bottom border-light-subtle">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center py-2">
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <a th:href="@{/admin/account-list}" class="btn btn-outline-dark fw-bold border-0" style="font-size: 0.83rem;"><i class="fa-solid fa-users"></i> User Management</a>
                    <a th:href="@{/admin/product-list}" class="btn btn-outline-dark fw-bold border-0" style="font-size: 0.83rem;"><i class="fa-brands fa-product-hunt"></i> Product Management</a>
                    <a th:href="@{/admin/category-list}" class="btn btn-outline-dark fw-bold border-0" style="font-size: 0.83rem;"><i class="fa-solid fa-list"></i> Category Management</a>
                    <a th:href="@{/admin/voucher-list}" class="btn btn-dark fw-bold" style="font-size: 0.83rem;"><i class="fa-solid fa-tags"></i> Voucher Management</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-3" style="min-height: 40rem;">
        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    <a th:href="@{/admin/voucher-view/SUMMER10}" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid fa-wrench"></i> Voucher Detail</a>
                    <a class="py-3 px-4 text-secondary list-group-item list-group-item-action active"><i class="fa-solid fa-table-list"></i> List Voucher</a>
                </div>
            </div>
            <div class="col-9 bg-white rounded border">
                <div class="px-3 py-4">
                    <h4>Vouchers List</h4>
                    <hr>
                    <div class="d-flex align-items-center justify-content-between">
                        <form action="">
                            <div class="d-flex align-items-center gap-2">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="searchListVoucherName"  placeholder="Search">
                                    <label>Search</label>
                                </div>
                                <div class="row">
                                    <div class="col-6 pe-0">
                                        <div class="form-floating">
                                            <input type="date" class="form-control" id="searchListVoucherStartDate" placeholder="Start Date">
                                            <label>Start Date</label>
                                            <div class="invalid-tooltip">The start date must be before the end date.</div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-floating">
                                            <input type="date" class="form-control" id="searchListVoucherEndDate"  placeholder="End Date">
                                            <label>End Date</label>
                                            <div class="invalid-tooltip">The end date must be after the start date.</div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-outline-secondary p-3" type="button" onclick="searchEngine()"><i class="fa-solid fa-filter"></i></button>
                            </div>
                        </form>

                        <div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary p-3" data-bs-toggle="modal" data-bs-target="#addDiscount">
                                <i class="fa-solid fa-circle-plus"></i> Create Voucher
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="addDiscount" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Voucher</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form id="createVoucherForm">
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="createVoucherTitle"  placeholder="Voucher Title" required>
                                                            <label>Voucher Title</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-floating mb-3">
                                                            <input type="number" class="form-control" id="createVoucherPercent" min="1"  max="100"  placeholder="Voucher Percent" required>
                                                            <label>Voucher Percent</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-floating mb-3">
                                                            <input type="date" class="form-control" id="createVoucherSDate"   placeholder="Start Date" required>
                                                            <label>Start Date</label>
                                                            <div class="invalid-feedback">The start date must be before the end date.</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-floating mb-3">
                                                            <input type="date" class="form-control" id="createVoucherEDate"   placeholder="End Date" required>
                                                            <label>End Date</label>
                                                            <div class="invalid-feedback">The end date must be after the start date.</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-floating mb-3">
                                                            <textarea class="form-control" id="createVoucherDescription"  placeholder="Description" style="height: 100px" required></textarea>
                                                            <label>Description</label>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Create Voucher</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="container">
                        <table class="table align-middle">
                            <thead class="table-light">
                            <tr>
                                <th scope="col">Voucher ID</th>
                                <th scope="col">Voucher Name</th>
                                <th scope="col">Voucher Percent</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody id="voucherTable">

                            </tbody>
                        </table>
                        <div class="d-flex align-items-center justify-content-between">
                            <p id="showingResultVoucher"></p>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <btn class="page-link" aria-label="Previous" id="prevBtn" onclick="prevPage();">
                                            <span aria-hidden="true">&laquo;</span>
                                        </btn>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <!-- Các nút pagination sẽ được thêm vào đây -->
                                    <li class="page-item">
                                        <btn class="page-link" aria-label="Next" id="nextBtn" onclick="nextPage();">
                                            <span aria-hidden="true">&raquo;</span>
                                        </btn>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:src="@{/js/admin/voucher/voucher-list.js}"></script>