<header th:fragment="header">
    <div style="background-color: #0a59cc;">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <a href="#" class="nav-link text-white" style="font-size: 0.8rem;"><i class="fa-solid fa-angle-left"></i> <i class="fa-solid fa-angle-right"></i> Tài khoản OpenAI - ChatGPT (Có sẵn 5$)</a>
                </div>
                <div>
                    <ul class="navbar-nav flex-row gap-4 text-white" style="font-size: 0.85rem;">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa-solid fa-book me-2"></i> Hướng dẫn mua hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa-solid fa-percent me-2"></i> Ưu đãi khách hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa-solid fa-phone me-2"></i> Thông tin liên hệ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #2679f2;">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand text-white fw-bold" th:href="@{/}">
                    <img src="https://cdn.divineshop.vn/static/b1402e84a947ed36cebe9799e47f61c2.svg" alt="" style="width: 49px; height: 49px;">
                    Divine Shop
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form class="d-flex" style="width: 35%;" role="search">
                    <input class="form-control rounded-end-0" type="search" placeholder="Tìm kiếm sản phẩm" aria-label="Search">
                    <button class="btn text-white rounded-start-0" style="background-color: #0a59cc;" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <div class="text-white">
                    <a th:href="@{/log-in}">
                        <button type="button" class="btn btn-outline-light rounded-circle"><i class="fa-solid fa-user"></i></button>
                        <button type="button" class="btn p-0 text-white fw-semibold"  style="font-size: 0.83rem;">Đăng nhập</button>
                    </a>
                    <span style="font-size: 0.83rem;">/</span>
                    <a th:href="@{/register}"><button type="button" class="btn p-0 text-white fw-semibold" style="font-size: 0.83rem;">Đăng ký</button></a>
                </div>
                <div class="">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white fw-bold" style="font-size: 0.85rem;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://cdn.divineshop.vn/image/catalog/icon/avatar-khach-hang-2-52544.png?hash=1649933269" class="rounded-circle" alt="" width="42px" height="42px">
                                hieuchi1999
                            </a>
                            <ul class="dropdown-menu">
                                <li class="py-1 px-3"  style="font-size: 0.85rem;">Số dư tài khoản</li>
                                <li><a class="dropdown-item fw-bold py-2" th:href="@{/add-funds}">4.000đ <i class="fa-solid fa-plus text-primary"></i></a></li>
                                <li><a class="dropdown-item" style="font-size: 0.85rem;" th:href="@{/admin/product-view}">Quản trị</a></li>
                                <li><a class="dropdown-item" style="font-size: 0.85rem;" th:href="@{/user-info}">Quản lý tài khoản</a></li>
                                <li><a class="dropdown-item" style="font-size: 0.85rem;" th:href="@{/order-history}">Lịch sử đơn hàng</a></li>
                                <li><a class="dropdown-item" style="font-size: 0.85rem;" th:href="@{/favorite}">Sản phẩm yêu thích</a></li>
                                <li><a class="dropdown-item" style="font-size: 0.85rem;" href="#">Đăng xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <a th:href="@{/cart}">
                    <button type="button" class="btn btn-outline-light px-3 py-2" style="font-size: 0.9rem;"><i class="fa-solid fa-cart-shopping"></i> Giỏ hàng <span class="badge text-bg-light px-1">4</span></button>
                </a>
            </div>
        </nav>
        <div class="container">
            <div class="d-flex justify-content-between align-items-center pb-3">
                <a href="#" class="nav-link text-white" style="font-size: 0.9rem;"><i style="font-size: 1rem;" class="me-2 fa-solid fa-eye"></i> Sản phẩm bạn vừa xem</a>
                <a href="#" class="nav-link text-white" style="font-size: 0.9rem;"><i style="font-size: 1rem;" class="me-2 fa-solid fa-fire-flame-curved"></i> Sản phẩm mua nhiều</a>
                <a href="#" class="nav-link text-white" style="font-size: 0.9rem;"><i style="font-size: 1rem;" class="me-2 fa-solid fa-percent"></i> Sản phẩm khuyến mại</a>
                <a href="#" class="nav-link text-white" style="font-size: 0.9rem;"><i style="font-size: 1rem;" class="me-2 fa-solid fa-map-location-dot"></i> Đại lý giao dịch</a>
                <a href="#" class="nav-link text-white" style="font-size: 0.9rem;"><i style="font-size: 1rem;" class="me-2 fa-solid fa-credit-card"></i> Hình thức thanh toán</a>
            </div>
        </div>
    </div>
    <div class="bg-white border-bottom border-light-subtle">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center py-2">
                <button type="button" class="btn fw-bold"  style="font-size: 0.83rem;"><i class="fa-solid fa-bars me-2 fs-6"></i> Danh mục sản phẩm</button>
                <div class="d-flex justify-content-between align-items-center gap-4">
                    <a href="#" class="nav-link fw-bold" style="font-size: 0.83rem;"><img src="https://cdn.divineshop.vn/image/catalog/Anh/Icon%20svg/Nap-thesvg-30724.svg?hash=1640449820" style="width: 39px; height: 39px;" alt=""> Thủ thuật & Tin Tức</a>
                    <a href="#" class="nav-link fw-bold" style="font-size: 0.83rem;"><img src="https://cdn.divineshop.vn/image/catalog/Anh/Icon%20svg/Gioi-thieu-ban-be-87652.svg?hash=1640449820" style="width: 39px; height: 39px;" alt=""> Giới thiệu bạn bè</a>
                    <a href="#" class="nav-link fw-bold" style="font-size: 0.83rem;"><img src="https://cdn.divineshop.vn/image/catalog/Anh/Icon%20svg/Lien-he-hop-tac-33199.svg?hash=1640449820" style="width: 39px; height: 39px;" alt=""> Liên hệ hợp tác</a>
                    <a href="#" class="nav-link fw-bold" style="font-size: 0.83rem;"><img src="https://cdn.divineshop.vn/image/catalog/Anh/Icon%20svg/Uu-dai-khach-vip-79547.svg?hash=1640449820" style="width: 39px; height: 39px;" alt=""> Ưu đãi khách hàng VIP</a>
                </div>
            </div>
        </div>
    </div>
</header>

<header th:fragment="hello"></header>